#imag_perfil {
  width: 20rem;
}
#content {
  padding: 0 15px;
  width: 340px;
}
#content h1 {
  margin-top: 0;
}
#tarjeta_presentacion {
  width: 20rem;
  font-family: BLOKKNeue-Regular;
}
#tarjeta_presentacion_info {
  width: 20rem;
  height: 10rem;
  color: #434a54;
}

#dowload_tarjeta_presentacion {
  font-size: 22px;
  height: 9rem;
  background-color: #8c52ff;
  width: 3.3rem;
  cursor: pointer;
  transform: translateX(1.5rem);
}
#dowload_tarjeta_presentacion h1 {
  transform: translateX(100%);
  transform: translateY(-45%);
  margin-left: 140%;
}
#dowload_tarjeta_presentacion img {
  width: 3rem;
  margin-left: 2%;
  transform: translateY(100%);
  color: #fff;
}

#contacto {
  color: #000;
  transform: translateX(1.5rem);
  width: 17rem;
}
#contacto_info {
  background-color: #8c52ff;
  width: 17rem;
  transform: translateX(1.5rem);
  padding: 2%;
  font-size: 20px;
  color: #fff;
  height: 12rem;
  border-radius: 0.2rem;
}

#contacto_detalle img {
  width: 2rem;
}
