/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: #f5f7fa;
  line-height: 1.2;
}
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}
.wrapper {
  width: 100%;
  max-width: 650px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
  margin-bottom: 200px;
  border: 1;
  border: #8c52ff 0.1em solid;
}

.content p,
.sidebar p {
  font-family: "BLOKKNeue-Regular";
}

.sidebar {
  padding: 0px;
  width: 300px;
  border-left: #8c52ff 3px solid;
  color: #000;
}
.sidebar h3 {
  margin: 0;
}
.content,
.sidebar {
  float: left;
}

/* The sticky */
.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
